<%= form_for(@entity, :html => {"data-parsley-validate" => true}) do |f| %>
  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
    <div class="pv3 bb b--light-gray">
      <h2 class="f6 fw4 purple mv0 ttu">Información general</h2>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="name">Nombre</label>
      <%= f.text_field :name, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="description">Descripción</label>
      <%= f.text_area :description, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "description" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="logo">Logo</label>
      <%= f.file_field :logo %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="website">Sitio web</label>
      <%= f.text_field :website, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "website" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="phone">Teléfono</label>
      <%= f.text_field :phone, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "phone" %>      
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="contact_email">Correo electrónico de contacto</label>
      <%= f.email_field :contact_email, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "contact_email" %>
    </div>
  </fieldset>
  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
    <div class="pv3 bb b--light-gray">
      <h2 class="f6 fw4 purple mv0 ttu">Redes sociales</h2>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="facebook">Facebook</label>
      <%= f.text_field :facebook, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "facebook" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="twitter">Twitter</label>
      <%= f.text_field :twitter, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "twitter" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="instagram">Instagram</label>
      <%= f.text_field :instagram, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "instagram" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="medium">Medium</label>
      <%= f.text_field :medium, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "medium" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="linkedin">LinkedIn</label>
      <%= f.text_field :linkedin, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "linkedin" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="behance">Behance</label>
      <%= f.text_field :behance, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "behance" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="github">GitHub</label>
      <%= f.text_field :github, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "github" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="pinterest">Pinterest</label>
      <%= f.text_field :pinterest, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "pinterest" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="youtube">YouTube</label>
      <%= f.text_field :youtube, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "youtube" %>
    </div>
    <div class="mv3">
      <label class="db fw4 lh-copy f6" for="gplus">Google+</label>
      <%= f.text_field :gplus, class: "pa2 input-reset ba br2 b--light-gray bg-transparent w-100", id: "gplus" %>
    </div>
  </fieldset>
  <div class="mv3 tc">
    <input class="ph4 dim pointer pv2 input-reset br-pill ba b--purple bg-purple white" type="submit" value="Guardar">
  </div>
<% end %>