<% title 'El directorio creativo de El Salvador' %>
<% description 'Vusqo es una plataforma que busca promover empresas, personas e instituciones dedicadas al desarrollo de tecnología, diseño y creatividad en El Salvador.' %>

<section class="mw8 center pv4 pv5-ns ph3 tc tl-ns">
  <h1 class="f3 f1-ns lh-solid mv0">Descubre la <span class="i">industria creativa</span> <br class="dn dib-ns"> en El Salvador</h1>
  <div class="mt4">
    <% if current_entity.blank? %>
    <%= link_to "Registrar una empresa", registro_path, class: "f4 link dim dib br-pill bg-purple white pv2 ph4 mv2 mr2" %>
    <% end %>
    <%= link_to "Conoce el proyecto", page_path('nosotros'), class: "f4 link dim dib br-pill ba b--purple pv2 ph3 mv2" %>
  </div>
</section>

<section class="mw8 center ph2 pv1 pv3-ns">
  <div class="pv3 ph2">
    <h2 class="f6 fw4 gray mv0 ttu">Últimas empresas registradas</h2>
  </div>
  <div class="cf">
    <% @entities.each do |entity| %>
    <div class="fl w-50 w-20-m w-10-l pa2">
      <%= link_to entity_path(entity), class: "db link dim tc" do %>
        <img src="<%= entity.logo.url %>" class="w-100 db ba b--light-gray br2" />
        <dl class="mt2 f6 lh-copy">
          <dd class="ml0 black truncate w-100"><%= entity.name %></dd>
        </dl>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="pv1 tc">
    <%= link_to "Ver todas las empresas", entities_path, class: "f6 link dim dib br-pill gray ba b--light-gray pv2 ph3"%>
  </div>
</section>
