<section class="mw6 center pv4 ph2">
  <div class="mb4">
    <h1 class="fw4 tc">Cambiar contraseña</h1>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, "data-parsley-validate": true, "novalidate": true }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>
    <fieldset class="ba b--transparent ph0 mh0">
      <div class="mv3">
        <%= f.label :password, "Nueva contraseña", class: "db fw4 lh-copy f6" %>
        <%= f.password_field :password, class: "b pa2 input-reset ba br2 b--light-gray bg-transparent w-100", minlength: 6, autofocus: true, autocomplete: "off", required: true %>
        <span class="dib f6 gray">Te recomendamos utilizar más de 6 caracteres.</span>
      </div>
      <div class="mv3">
        <%= f.label :password_confirmation, "Confirmar nueva contraseña", class: "db fw4 lh-copy f6" %>
        <%= f.password_field :password_confirmation, class: "b pa2 input-reset ba br2 b--light-gray bg-transparent w-100", minlength: 6, autocomplete: "off", required: true %>
      </div>
    </fieldset>
    <div class="mv3 tc">
      <input class="ph4 pv2 input-reset br-pill ba b--purple bg-purple white" type="submit" value="Cambiar contraseña">
    </div>
  <% end %>
</section>
