<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vusqo &ndash; El directorio creativo de El Salvador</title>
    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.1/css/tachyons.min.css"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render :partial => "shared/header" %>
    <%= yield %>
    <%= render :partial => "shared/footer" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.10.0/validate.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
