<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags site: "Vusqo",
      og: {
        title: :title,
        description: :description,
        image: image_url("share-image-default.png"),
        url: request.original_url,
        site_name: "Vusqo"
      },
      twitter: {
        card: "summary",
        site: "@vusqo_",
        creator: "@vusqo_"
      }
    %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.1/css/tachyons.min.css"/>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render :partial => "shared/header" %>
    <%= yield %>
    <%= render :partial => "shared/footer" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-85782042-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.10.0/validate.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
